@page "/mixed"

<form class="rounded position-relative"
      @onsubmit="Suchen" @formname="suchen"
      method="post">
    <AntiforgeryToken />
    <div class="input-group mb-3">
        <InputText class="form-control " type="search"
                   @bind-Value="Filter" @onblur="Suchen" />
        <button class="btn btn-outline-primary"
                type="submit">
            <i class="bi bi-search fs-5"> </i>search
        </button>
    </div>
</form>

<ul class="list-group list-group-flush">
    @foreach (var item in Liste)
    {
        <li class="list-group-item">@item</li>
    }
</ul>

@code {
    [SupplyParameterFromForm]
    public string Filter { get; set; }

    public List<string> _entries = ["Tesla", "Ranger", "Camaro", "Vespa"];
    private List<string> Liste = new();

  
    void Suchen()
    {
        Liste = !string.IsNullOrEmpty(Filter)
           ? _entries.Where(x => x.Contains(Filter)).ToList()
           : _entries;
    }
}